EXPO_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.tu_clave_anon_completa_aqui
EXPO_PUBLIC_PUSH_API_URL=https://exp.host/--/api/v2/push/send

